.category-item {
    font-size: 12pt;
    padding: 10px;
}

.category-item:hover {
    background-color: lightgray;
}

.category-item.selected {
    background-color: lightgray;
}

.btn-all-title {
    background-color: lightgray;
}

.spacer {
    flex: 1 1 auto;
}